.outer-paper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.outer-paper div {
  align-self: center;
  padding: 10px 0px;
}

.board {
  width: 430px;
  border: 1px solid blue;
  background-color: blue;
  display: flex;
  justify-content: center;
}

.turn {
  text-align: center;
}

.outer-paper {
  /*background-color: #222 !important;
  border: 2px solid;
  border-radius: 8% !important;
  border-color: darkgoldenrod;*/
}